*{
    box-sizing: border-box;
}
.main{
    display:grid;
    width:50%;
    grid-template-columns: repeat(2,50%);
    margin:2rem auto;
    border:1px solid black;
    align-items: center;
}

.form-in{
    grid-column: 1/2;
    border-right:1px solid black;
    text-align: center;
}

.form-send{
    grid-column: 2/3;
    text-align: center;
}

.data{
    display: flex;
    flex-wrap: wrap;
    width:70%;
    text-align: left;
    margin:0.5rem auto;
}

.data p{    
    width:50%;
}