*{
    box-sizing: border-box;
}

.form-in{
    display:flex;
    flex-wrap: wrap;    
    width:60%;
    margin:0.2rem auto;    
    text-align: center;
    border:1px solid black;
    justify-content: center;
    align-items: center;
}

.input *{
    width:80%;
    margin:0.5rem 0rem;
    border:1px solid black;
}

.input h1{
    margin: 0.75rem auto;
    background: red;
    color:white;
}
