html
    head 
        title Chat Finals

    body
        .msg-container

        form(id="msgform")
            input(type="text",id="msg")
            a(href="http://localhost:3000/") oii
            button(type="submit",id="send") Send
        
        script(src="/socket.io/socket.io.js")
        script(src="../JS/client.js",type="text/javascript")