html
    head 
        title Chat Finals

    body
        .msg-container

        .msgform
            input(type="text",id="msg")
            button(type="submit",id="send")
        
        script(src="/socket.io/socket.io.js")