html
    head
        title FinalS
        link(rel="stylesheet" href="../CSS/file.css")   
    
    body
        script(type="text/javascript" src="../JS/file.js")
        .form-in
            form(method="post" action="/organizer")
                .input
                    h1 File Manager
                    select(name="choose" id="selected" onchange="change()")
                        option Create File
                        option Copy File
                        option Copy Data
                        option Read File
                        option Create Folder
                        option Delete Folder            
                    input(type="text" name="dir" placeholder="From")
                    input(type="text" name="dest" placeholder="To")
                    textarea(name="msg",placeholder="Mesasge",cols="30", rows="10")
                    input(type="submit")         