html
    head
        title FinalS
        link(rel="stylesheet" href="../CSS/home.css")
        link(rel="stylesheet" href="../CSS/tool.css")
        link(rel="stylesheet" href="../CSS/login.css")
        link(rel="stylesheet" href="../CSS/about.css")
    
    body
        script(src='https://kit.fontawesome.com/a076d05399.js')
        .main-page
            .main-nav
                .nav-left
                    h1 AIO
                .nav-right
                    ul
                        li 
                            a(href="#tools") Tools
                        li 
                            a(href="#aboutme") About Me
                        if islogin < 1
                            li 
                                a(href="#account") Log-in
            .main-title
                .h-box
                    h1 ALL IN ONE
                .box
                    .a-box.one 
                        a(href="/chat/messaging") START
                    if islogin < 1
                        .a-box.two
                            a(href="#account") SIGN-UP    
                    if islogin > 0
                        form(method="POST",action="/user/logout")                        
                            .a-box.two
                                button(type="submit") Log-Out
        
        div(class="tool",id="tools")
            .sub-tool.t1
                h1(onclick="window.location ='/net_resolver'") NETWORK RESOLVER            
            .sub-tool.t2
                h1(onclick="window.open('/portbinding', '_blank');window.location ='/portwaiting'") PORT
            .sub-tool.t3
                h1(onclick="window.location ='/organizer'") FILE MANAGER   

        div(class="account",id="account")
            .login 
                .sub-login
                    h1 Login
                .form-login                    
                    form(method="post",action="/user/login")
                        .data
                            p #{err}
                            .icon-input
                                input(type='email' placeholder='Email',name="email")
                                i.fa.fa-user.fa-lg.fa-fw(aria-hidden='true')
                            .icon-input
                                input(type='password' placeholder='Password',name="password")
                                i.fa.fa-lock.fa-lg.fa-fw(aria-hidden='true')
                            button(type="submit",class="loginbutton") Log In 
                        
                                 
            .sign-up
                .sub-signup
                    h1 Sign-Up
                .form-signup
                    form(method="post" action="/user/signup") 
                        
                        .data
                            p #{signErr}
                            .icon-input
                                input(type="text",name="username",placeholder="Username")
                                i.fa.fa-male(aria-hidden='true')                        
                            .icon-input
                                input(type='email' placeholder='Email',name="email")
                                i.fa.fa-user.fa-lg.fa-fw(aria-hidden='true')
                            .icon-input
                                input(type='password' placeholder='Password',name="password")
                                i.fa.fa-lock.fa-lg.fa-fw(aria-hidden='true')
                            .icon-input
                                input(type="password" name="checkpass" placeholder="Retype Password")
                                i.fa.fa-check(aria-hidden='true')
                            button(type="submit") Sign Up     

                        

        div(class="aboutme",id="aboutme")  
            .about-image
                img(src="../image/me.jpg")
            .about-data
                h1 Alexander Kevin
                h2 001201700016
                h3 Subject : Network Socket Programming
                p Contains : Network Resolver, File Manager, Socket Programming Using Socket.IO Framework