html
    head
        title FinalS
        link(rel="stylesheet" href="../CSS/home.css")
        link(rel="stylesheet" href="../CSS/tool.css")
        link(rel="stylesheet" href="../CSS/login.css")
    
    
    body
        .main-page
            .main-nav
                .nav-left
                    h1 AIO
                .nav-right
                    ul
                        li 
                            a(href="#tools") Tools
                        li 
                            a(href="#aboutme") About Me
                        if islogin < 1
                            li 
                                a(href="#account") Log-in
            .main-title
                .h-box
                    h1 ALL IN ONE
                .box
                    .a-box.one 
                        a(href="/chat/messaging") START
                    if islogin < 1
                        .a-box.two
                            a(href="#account") SIGN-UP    
                    if islogin > 0
                        form(method="POST",action="/user/logout")                        
                            .a-box.two
                                button(type="submit") Log-Out
        
        div(class="tool",id="tools")
            .sub-tool.t1
                h1(onclick="window.location ='/net_resolver'") NETWORK RESOLVER            
            .sub-tool.t2
                h1(onclick="window.open('/portbinding', '_blank');window.location ='/portwaiting'") PORT
            .sub-tool.t3
                h1(onclick="window.location ='/organizer'") FILE MANAGER   

        div(class="account",id="account")
            .login 
                form(method="post",action="/user/login")
                    p #{err}
                    p  
                        input(type="text" name="email" placeholder="Email...")
                    p  
                        input(type="password" name="password" placeholder="Password...") 
                    button(type="submit") Log In                               
            .sign-up
                form(method="post" action="/user/signup") 
                    p #{signErr}
                    p
                        input(type="text",name="username",placeholder="Username")
                    p  
                        input(type="text" name="email" placeholder="Email")
                    p  
                        input(type="password" name="password" placeholder="Password") 
                    p  
                        input(type="password" name="checkpass" placeholder="Retype Password")
                    
                    button(type="submit") Sign Up        